<div class="marketing-main">
  <div class="">
    <div class="">
      <h1>The power of GitHub on your desktop.</h1>
      <p class="">Browse repositories, create and manage branches, and commit changes—all from your desktop.</p>
      <div class="">
        <a href="">
          <span class=""></span>
          Download GitHub for Mac
        </a>
        <p class="">
        Requires OS X 10.7+ · <a href="">Learn more</a>
        </p>
      </div>
      <div class="">
        <a href="">
          <span class=""></span>
          Download GitHub for Windows
        </a>
        <p class="">
        For Windows XP, 7, &amp; 8 · <a href="">Learn more</a>
        </p>
      </div>
    </div>


    <div class="demo-images">
      <%= image_tag "gh-windows-app.png" %>
      <%= image_tag "gh-mac-app.png" %>
    </div>

    <hr class="">

    <div class="">
      <h3>Looking for other applications?</h3>

      <ul class="other-apps">
        <li class="app">
        <a class="" href="">
          <%= image_tag "gh-app-apple.png" %>
        </a>
        </li>
        <li class="app">
        <a class="" href="">
          <%= image_tag "gh-app-windows.png" %>
        </a>
        </li>
        <li class="app">
        <a href="">
          <%= image_tag "gh-app-eclipse.png" %>
        </a>
        </li>
      </ul>
    </div>
  </div>
</div>
